body {
    background-image: url("https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?cs=srgb&dl=pexels-pixabay-122429.jpg&fm=jpg");
  }

    


.about-page-content{
    background-image: url(https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?cs=srgb&dl=pexels-pixabay-122429.jpg&fm=jpg)
    padding; 50px 50px;
}


.home -page-content{
    display: flex;
    padding: 60px 60px 60px 60px;

}

.company-overview{
    width: 60px;
    padding: left 40px;
    padding: right 40px;
}
h1{
    font-size: 80;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 50px;
    background:linear-gradient(#1c8349,#108d46);
    position: absolute;
    right: 0;
    top: 0;
}

div {
  background-color: rgb(163, 238, 144);
  width:400px ;
  border: 15px solid green ;
  padding: 50px;
  margin: 20px;
}
</div>

body, html {
    height: 90%;
  }
  
  .bg {
    /* The image used */
    background-image: url("img_girl.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

  
  .header {
    background-color: #33cc4c;
    color: #58b41a;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33e577;
    color: #0b2918;
    box-shadow: 0 1px 3px rgba(38, 148, 16, 0.12), 0 1px 2px rgba(7, 41, 3, 0.24);
  }
  
  .menu li:hover {
    background-color: #00cc00;
  }
  
  .aside {
    background-color: #33e53c;
    padding: 15px;
    color: #b2ebbb;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(124, 204, 135, 0.12), 0 1px 2px rgba(58, 109, 45, 0.24);
  }
  .footer {
    background-color: #084e2b;
    color: #0dbd33;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
</style>
</head>
<body>

<div class="header">
  <h1>Vermin Compost</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
    <li><a href="Index.html">Home</a></li>
    <li><a href="about.html">About Us</a></li>
    <li><a href="services.html">Our Services</a></li>
    <li><a href="gallery.html">Our Gallery</a></li>
    <li><a href="contact.html">Countact Us</a></li>
</ul>
      
  </div>
/*Responsive style */
@media (max-width:768px) {
    nav ul {
        flex-direction: colomn;
    }
    nav ul li{
        padding: 12px 0;
        width:100%;
        text-align: center;
    }

}
  